[Unit]
Description=Discord server bash accessor
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/<username>/bot.py --pipe

[Install]
WantedBy=multi-user.target